<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Forge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
      {% if request.user.is_authenticated %}
          
        {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Database</a>
            </li>
            {% if request.path != '/dashboard/ebay/api-test/' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api_test' %}">eBay API</a>
                </li>
            {% endif %}
            {% if request.path != '/dashboard/chatgpt/' %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ChatGPT
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light">
                    <li><a class="dropdown-item" href="{% url 'chatgpt_interact' %}">Test</a></li>
                    <li><a class="dropdown-item" href="{% url 'chatgpt_request_history' %}">History</a></li>
                  </ul>
                </li>
            {% endif %}
        {% endif %}
          
        {% if request.path != '/dashboard/' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li> 
        {% endif %}
          
        {% if request.path != '/dashboard/listings/' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listing_list' %}">Listings</a>
            </li> 
        {% endif %}
          
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user }}
          </a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
          </ul>
        </li>
    {% else %}
        {% if request.path != '/login/' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'registration' %}">Sign Up</a>
        </li>
    {% endif %}
          
      </ul>
    </div>
  </div>
</nav>
